.sidebar {
    width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.sidebar-savables-section {
    margin-top: 20px;
}

.sidebar-button {
    width: 100%;
}